<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<welcome-file-list>
<welcome-file>Login.jsp</welcome-file>
</welcome-file-list>

	<display-name>
	EURTF</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		Authenticate</display-name>
		<servlet-name>Authenticate</servlet-name>
		<servlet-class>cog.eurtf.servlets.Authenticate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LoadElements</display-name>
		<servlet-name>LoadElements</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.LoadElements</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadTest</display-name>
		<servlet-name>UploadTest</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.UploadTest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MakeChart</display-name>
		<servlet-name>MakeChart</servlet-name>
		<servlet-class>cog.eurtf.servlets.MakeChart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GenerateXML</display-name>
		<servlet-name>GenerateXML</servlet-name>
		<servlet-class>cog.eurtf.servlets.GenerateXML</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AgentAddServlet</display-name>
		<servlet-name>AgentAddServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.AgentAddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AgentEditServlet</display-name>
		<servlet-name>AgentEditServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.AgentEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AgentDeleteServlet</display-name>
		<servlet-name>AgentDeleteServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.AgentDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TestSer2</display-name>
		<servlet-name>TestSer2</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.TestSer2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MonitoringProjectDeleteServlet</display-name>
		<servlet-name>MonitoringProjectDeleteServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.MonitoringProjectDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MonitoringProjectAddServlet</display-name>
		<servlet-name>MonitoringProjectAddServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.MonitoringProjectAddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MonitoringProjectEditServlet</display-name>
		<servlet-name>MonitoringProjectEditServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.MonitoringProjectEditServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ControllConnection</display-name>
		<servlet-name>ControllConnection</servlet-name>
		<servlet-class>
		cog.eurtf.jdbc.ControllConnection</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AjaxValidatation</display-name>
		<servlet-name>AjaxValidatation</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.AjaxValidatation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LoadAgent</display-name>
		<servlet-name>LoadAgent</servlet-name>
		<servlet-class>
		cog.eurtf.util.LoadAgent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		MonitorProjectServlet</display-name>
		<servlet-name>MonitorProjectServlet</servlet-name>
		<servlet-class>
		cog.eurtf.servlets.MonitorProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestSer2</servlet-name>
		<url-pattern>/TestSer2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authenticate</servlet-name>
		<url-pattern>/Authenticate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadTest</servlet-name>
		<url-pattern>/UploadTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadElements</servlet-name>
		<url-pattern>/LoadElements</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MakeChart</servlet-name>
		<url-pattern>/MakeChart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GenerateXML</servlet-name>
		<url-pattern>/GenerateXML</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgentAddServlet</servlet-name>
		<url-pattern>/AgentAddServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AgentEditServlet</servlet-name>
		<url-pattern>/AgentEditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgentDeleteServlet</servlet-name>
		<url-pattern>/AgentDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitoringProjectDeleteServlet</servlet-name>
		<url-pattern>/MonitoringProjectDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitoringProjectAddServlet</servlet-name>
		<url-pattern>/MonitoringProjectAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitoringProjectEditServlet</servlet-name>
		<url-pattern>/MonitoringProjectEditServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControllConnection</servlet-name>
		<url-pattern>/ControllConnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxValidatation</servlet-name>
		<url-pattern>/AjaxValidatation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoadAgent</servlet-name>
		<url-pattern>/LoadAgent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MonitorProjectServlet</servlet-name>
		<url-pattern>/MonitorProjectServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
	<param-name>jdbcDriver</param-name>
	<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
	<param-name>jdbcConnectionURL</param-name>
	<param-value>jdbc:mysql://127.0.0.1:3306/eurtf</param-value>
	</context-param>
	
	<context-param>
	<param-name>jdbcUser</param-name>
	<param-value>root</param-value>
	</context-param>
	
	<context-param>
	<param-name>jdbcPassword</param-name>
	<param-value></param-value>
	</context-param>
	
	
	
	
</web-app>
